.login {
  height: 100vh;
  background: #eff0fb;
  padding: 18px 16px;
  &__content {
    background: #ffffff;
    border-radius: 8px;
    padding: 26px;
    margin-bottom: 46px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 26px;
  }
  .chooseOneOf {
    width: 100%;
    display: flex;
    margin-bottom: 26px;
    .email {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #363636;
      padding: 11px 0 14px;
      background: #f5f5f5;
      text-align: center;
      border: none;
    }
    .phone {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      padding: 11px 0 14px;
      color: #363636;
      background: #f5f5f5;
      text-align: center;
      border: none;
    }
    .active {
      color: #7159bd;
      background: #eff0fb;
    }
  }

  &__form {
    .input-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 8px;
    }
    .input-email {
      width: 100%;
      height: 42px;
      background: #ffffff;
      border: 1px solid #eaebf6;
      border-radius: 6px;
      padding: 8px 12px;
      margin-bottom: 26px;
    }
    .password {
      display: flex;
      height: 42px;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      background: #ffffff;
      border: 1px solid #eaebf6;
      border-radius: 6px;
      .input-password {
        width: 100%;
        height: 42px;
        border: none;
        background-color: transparent;
      }
      button {
        height: 16px;
        width: 16px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        img {
          margin: auto;
          width: 16px;
        }
      }
    }
    .forgotPassword {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #7159bd;
      margin-top: 16px;
    }
    .btn-submit {
      width: 100%;
      text-align: center;
      padding: 9px 0;
      border: none;
      background: #7159bd;
      border-radius: 6px;
      color: #ffffff;
      cursor: pointer;
      margin-top: 26px;
    }
  }
}