.modalThird {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 143, 31, 0.45);

  &__wrapper {
    width: 100%;
    padding: 20px 12px 12px;
    background: #ffffff;
    border-radius: 8px;
    margin: 0 20px;
    .submitButton{
      margin-top: 30px;
    }
    img {
      display: block;
      width: 42px;
      margin: 0 auto;
    }
    h3 {
      color: #373737;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      margin: 12px 0 8px;
    }
    p {
      font-weight: 400;
      font-size: 17px;
      color: #333333;
      text-align: center;
    }
  }
}
