.attendance_list_classes_view{
  padding-bottom: 60px;
  .wrapper{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 22px;

    .header-content{
      background: #FAFAFA;
      .content{
        padding: 12px;

        .title{
          border-right: 1px solid rgba(0, 0, 0, 0.06);
        }
      }
    }

    .font-semibold{
      font-weight: 600;
    }
    .font-bold{
      font-weight: 700;
    }

    .content-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);

      .content-data{
        padding: 12px ;
      }
    }
  }
}
